@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');


*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Epilogue", sans-serif;
}
/*----------les classe fonctionel flex---------*/
.flex {
display:flex;
flex-wrap:wrap;
}

/* alignement horizontale */
.space-between {
justify-content:space-between;
}

.space-around {
justify-content:space-around;
}

.space-evenly {
justify-content:space-evenly;
}

.justify-center {
justify-content:center;
}

.flex-end {
justify-content:flex-end;
}

.flex-start {
justify-content:flex-start;
}

/* alignement verticale */

.align-center {
align-items:center;
}

.textec{
text-align: center;
}


.align-end{
align-items:end;
}

/* Gap */

.gap-12 {
gap:12px;
}

/* /*les classe de largeur */
.w-100{
    width: 100%;
}
.w-30{
    width: 30%;
}
.w-22{
    width: 22%;
}
.w-48{
    width: 48%;
}
.w-20{
    width: 20%;
}
.w10{
    width: 15px;
}

/*container */
.container1000{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.police{
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    text-decoration-color:none;
}
ul{
    list-style-type: none;
}

.margintop100 {
    margin-top: 100px;
    ;
    margin-left: auto;
    margin-right: auto;
    ;}

.margintop30{
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    ;}
.margin-bottom30{
    margin-bottom: 30px;
}

.margin-bottom10{
    margin-bottom: 10²px;
}

.margintop10{
    margin-top:10px;
   
    
    ;}


    .pading-top45 {
        padding-top: 45px;
    }

 .pading-top10 {
        padding-top:20px;
    }


.pading-bottom45 {
        padding-bottom:  45px;
    }


.bgRed{
    background-color: red;
}

/*classe de dimensions*/

h2 {margin-bottom: 87px;
text-align: center;}

.carre{
    width: 86px;
    height:86px;
    background-color: #fff;
}
.border-radius1{
    border-radius:50px 0px 50px 0px
}
.arrondi1{ border-radius: 26px 0px 26px 0px
;}
.arrondi3{
    border-radius:0px 0px 0px 26px;
}
.arrondi4{
    border-radius:0px 65px 0px 0px;
}
.fond-orange{
    background-color: #FF6250;
}.fond-blanc { 
    background-color: #fff;
}
input{
display: block;
margin-bottom: 16px;
padding: 4px 8px;}
.pading-20{
    padding: 20px;
}
.bg-black{
    background-color: black;
}
.texte-blanc{
    color: #fff;
}
h1 span {
    border-radius: 360px;
    background-color: #009379;
    width: 20px;
    height: 20px;
    display: inline-block;
}